{% extends 'home/base.html' %}
{% block content %}


<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <a href="/events">
      << Zurück zu allen Veranstaltungen</br></br></br>
    </a>
      <div class="row">
        <div class="col-md-3">
          <img class="event_picture" src="../static/pictures/events/{{ event.logo }}" alt="" />
        </div>
        <div class="col-md-9 event_content">
          <div class="row event_detail_header" id="{{ event.title }}">
            <h2>{{ event.title }}</h2>
          </div>
          <div class="row">
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>   {{ event.location }}
          </div>
          <div class="row">
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>   {{ event.start_date|date:"G:i" }} h, {{ event.start_date|date:"j.n.Y" }}
          </div>
          {% if event.eventbrite_link %}
          <div class="row">
            <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>   <a href="{{ event.eventbrite_link }}">Teilnahme sichern auf Eventbrite</a>
          </div>
          {% endif%}
          {% if event.facebook_link %}
          <div class="row">
            <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>   <a href="{{ event.facebook_link }}">Die Veranstaltung auf Facebook ansehen</a>
          </div>
          {% endif%}
          <div class="row">
            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>   {{event.description}}
          </div>
        </div>
      </div>


  </div>
</div>
{% endblock %}
