{% extends 'home/base.html' %}
{% block content %}
<!--Großes FrontBild -->
  <div class="row">
    <div class="col-md-12 jumbo">
      <div class="col-md-4 col-md-offset-4 centered_vision">
        <h1>Gemeinsam Innovationen Schaffen</h1>
        <div class="h_line"></div>
        <p class="vision_text">
          Die Welt verändert sich schnell. Unternehmen, Institutionen und das Bildungssystem verändern sich viel langsamer. Das ändern wir zusammen. </br></br>
          <a href="#how_container" class="vision_link smoothScroll">
            Wie? Finde es raus </br>
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          </a>
        </p>
      </div>
    </div>
  </div>
<!--drei kleine subkategorien -->
  <div class="row">
    <div class="col-md-4 front_usergroup_link">
      <div class="col-md-4 col-md-offset-4 link_content">
        <h2>Unternehmen</h3>
        <div class="h_line"></div>
          Werden Sie innovativer (oder sowas) </br>
          <a href="#what_container" class="smoothScroll">
            Mehr erfahren </br>
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          </a>
      </div>
    </div>
    <div class="col-md-4 front_usergroup_link" >
        <div class="col-md-4 col-md-offset-4 link_content">
          <h2>Studenten</h3>
          <div class="h_line"></div>
            Werden Sie innovativer (oder sowas)</br>
            <a href="#what_container" class="smoothScroll">
              Mehr erfahren </br>
              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div class="col-md-4 front_usergroup_link">
        <div class="col-md-4 col-md-offset-4 link_content">
          <h2>Institutionen/Hochschulen</h3>
          <div class="h_line"></div>
          Werden Sie innovativer (oder sowas)</br>
          <a href="#what_container" class="smoothScroll">
            Mehr erfahren </br>
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          </a>
        </div>
    </div>
  </div>

<!--Anfang wie machen wir das -->
<div class="row end_of_how">
  <div class="col-md-12 how_container" id="how_container">
    <div class="row">
<!-- Wie? Überschrift -->
      <div class="col-md-12 how_question">
        <h2>Wie schaffen wir Innovationen?</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-1 sub_how_container">
        <div class="row">
          <div class="col-md-12 how_sub_head">
            <h3>Empathische Kreativität</h3>
          </div>
        </div>
<!-- Einzelne Kreativität Unterpunkte -->
        <div class="row">
          <div class="col-md-3 how_sub_picture">
            <span class="glyphicon glyphicon-envelope glyphicon_contact" aria-hidden="true"></span>
          </div>
          <div class="col-md-9 how_sub_content">
             Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-md-offset-1 how_sub_picture">
            <span class="glyphicon glyphicon-envelope glyphicon_contact" aria-hidden="true"></span>
          </div>
          <div class="col-md-8 how_sub_content">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-md-offset-2 how_sub_picture">
            <span class="glyphicon glyphicon-envelope glyphicon_contact" aria-hidden="true"></span>
          </div>
          <div class="col-md-7 how_sub_content">
             Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </div>
        </div>
<!-- Anfang Plus Container -->
      </div>
      <div class="col-md-2 plus_container">

      </div>
<!-- Anfang Kollaboration Container -->
      <div class="col-md-4 sub_how_container">
        <div class="row">
          <div class="col-md-12 how_sub_head">
            <h3>Zukunftsfähige Kollaboration</h3>
          </div>
        </div>
        <div class="row">
        <div class="col-md-9 how_sub_content">
           Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </div>
        <div class="col-md-3 how_sub_picture">
          <span class="glyphicon glyphicon-envelope glyphicon_contact" aria-hidden="true"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 how_sub_content">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </div>
        <div class="col-md-3 how_sub_picture">
          <span class="glyphicon glyphicon-envelope glyphicon_contact" aria-hidden="true"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 how_sub_content">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </div>
        <div class="col-md-3 how_sub_picture">
          <span class="glyphicon glyphicon-envelope glyphicon_contact" aria-hidden="true"></span>
        </div>
      </div>
    </div>
<!-- Start Innovation Container -->
    <div class="row">
      <div class="col-md-6 col-md-offset-3 innovation_container">
        <div class="col-md-6 col-md-offset-3 link_content">
          <h2>Innovation</h3>
          <div class="h_line"></div>
          Wir verstehen Innovation als Mindset. Ergebnis sind nicht nur innovative Produkt- Dienstleistungs und Prozesslösungen sondern eine völlig neue Arbeitskultur.</br>
          <a href="#what_container" class="smoothScroll">
            Interessiert? Mehr Erfahren </br>
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Anfang Was genau machen wir -->
<div class="row">
  <div class="col-md-12 what_container" id="what_container">
<!-- Anfang Beispielhafte Formate -->
    <div class="row">
      <div class="col-md-12 example_head">
        <h2>Wie könnte das genau aussehen?</h2>
      </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-1 example_formats_content">
          <div class="row">
            <div class="col-md-8 col-md-offset-3 formats_content">
              <h3>Workshops</h3>
              <div class="h_line"></div>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet
            </div>
          </div>
        </div>
        <div class="col-md-3 example_formats_content">
          <div class="row">
            <div class="col-md-8 col-md-offset-4 formats_content">
              <h3>Projekte</h3>
              <div class="h_line"></div>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet
            </div>
          </div>
        </div>
        <div class="col-md-3 example_formats_content">
          <div class="row">
            <div class="col-md-8 col-md-offset-4 formats_content">
              <h3>Coach-The-Coach</h3>
              <div class="h_line"></div>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet
            </div>
          </div>
        </div>
    </div>
<!-- Anfang Benefits Subgruppen -->
    <div class="row">
      <div class="col-md-12 benefits_head">
        <h2>Was hab ich davon?</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3>Vorteile für Unternehmen</h3>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 benefits_content">
            <div class="h_line"></div>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Vorteile für Studenten</h3>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 benefits_content">
            <div class="h_line"></div>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Vorteile für Hochschulen/Institutionen</h3>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 benefits_content">
            <div class="h_line"></div>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Anfang Infos zu uns, Kontakte und Weiteres -->
<div class="row">
  <div class="col-md-12 last_container">
<!-- Anfang Kontakt -->
    <div class="row">
      <div class="col-md-12 contact_head">
        <h2>Inspiriert? Melde dich! </br>Wir vereinbaren dann gerne ein persönliches Gespräch für alles weitere. </h2>
      </div>
    </div>
    <div class="row">
<!--Container für alte Technologien Kontakte (Email und Telefon)-->
      <div class="col-md-4 col-md-offset-2 contact_info">
        <div class="row phone_container">
          <div class="col-md-2 col-md-offset-2">
            <span class="glyphicon glyphicon-earphone glyphicon_contact" aria-hidden="true"></span>
          </div>
          <div class="col-md-8 phone_numbers">
            Anna Abelein: +49 176 2470 1247 </br>
            Yannis Beuke: +49 176 5796 5889 Spamschutz?
          </div>
        </div>
        <div class="row mail_container">
          <div class="col-md-2 col-md-offset-2">
            <span class="glyphicon glyphicon-envelope glyphicon_contact" aria-hidden="true"></span>
          </div>
          <div class="col-md-8 mail_address">
            <script language="JavaScript">
              var username = "info";
              var hostname = "protostart.de";
              var linktext = username + "@" + hostname ;
              document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "</a>");
            </script>
          </div>
        </div>
      </div>
<!--Container für neue Technologien Facebook etc -->
      <div class="col-md-4 contact_info">
      </div>
    </div>
<!-- Anfang Kontakformular -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2 contact_form">
      </div>
    </div>
<!--Anfang Wer sind wir -->
    <div class="row">
      <div class="col-md-12 personal_info_head">
        <h2>Wer sind wir?</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-3 personal_info anna">
        <div class="row">
          <div class="col-md-4 anna_picture">
          </div>
          <div class="col-md-6 anna_content">
            This and thatbbbbbbbbbbbbbbbbbbbbbbbbbb</br>
            greatbbbbbbbbbbbbbbbbbbbbbbbbbbb
            This and thatbbbbbbbbbbbbbbbbbbbbbbbbbbbb</br>
            greatbbbbbbbbbbbbbbbbbb
          </div>
        </div>
      </div>
      <div class="col-md-3 personal_info yannis">
        <div class="row">

          <div class="col-md-6 col-md-offset-2 yannis_content">
            This and thatbbbbbbbbbbbbbbbbb</br>
            greatbbbbbbbbbbbbbbbbbbbbbb</br>
            This and thatbbbbbbbbbbbb</br>
            greatbbbbbbbbbbbbbbbbbbbbbb
          </div>
          <div class="col-md-4 yannis_picture"></div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
