{% extends 'home/base.html' %}
{% block content %}
<!--Großes FrontBild -->
  <div class="row">
    <div class="col-md-12 jumbo">
      <div class="col-md-6 col-md-offset-3 centered_vision">
        <h1>Gemeinsam Innovationen schaffen</h1>
        <div class="h_line"></div>
        <p class="vision_text">
            Die zukünftigen Herausforderungen der Arbeits- und Lernwelt können nur durch multidisziplinäre Zusammenarbeit und Kollaboration gemeistert werden. Deshalb bringen wir junge Menschen in Kontakt mit etablierten Professionals, um gemeinsam innovatives Arbeiten zu erlernen und das kreative Potential zu entdecken. </br>
          <a href="#how_container" class="vision_link smoothScroll">
            Wie? Finden Sie es heraus </br>
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          </a>
        </p>
      </div>
    </div>
  </div>
<!--drei kleine subkategorien -->
  <div class="row front_usergroup_link">
    <div class="col-md-4 ">
      <div class="col-md-10 col-md-offset-1 link_content">
        <h2>Formate</h2>
        <div class="h_line">&nbsp</div>
          <a href="#what_container" class="smoothScroll">
            Mehr erfahren </br>
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          </a>
      </div>
    </div>
    <div class="col-md-4" >
        <div class="col-md-10 col-md-offset-1 link_content">
          <h2>Vorteile</h2>
          <div class="h_line">&nbsp</div>
            <a href="#benefits" class="smoothScroll">
              Mehr erfahren </br>
              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-10 col-md-offset-1 link_content">
          <h2>Kontakt</h2>
          <div class="h_line">&nbsp</div>
          <a href="#kontakt" class="smoothScroll">
            Kontakt aufnehmen </br>
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          </a>
        </div>
    </div>
  </div>

<!--Anfang wie machen wir das -->
<div class="row end_of_how">
  <div class="col-md-12 how_container" id="how_container">
    <div class="row">
<!-- Wie? Überschrift -->
      <div class="col-md-12 how_question">
        <h2>Die Elemente unserer Arbeit mit Design Thinking</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 sub_how_container">

<!-- Einzelne Kreativität Unterpunkte -->
        <div class="row">
          <div class="col-md-3 col-md-offset-1 how_sub_picture ">
            <img class="how_sub_picture_img" src="../static/pictures/creative-campaigns.png" alt="" />
          </div>
          <div class="col-md-8 col-md-offset how_sub_content">
          </br> <b>Kreatives Potential</b> </br> Wir verstehen Kreativität nicht als künstlerische Begabung. In jedem Menschen steckt kreatives Potential, um gemeinsam mit anderen Menschen innovative Lösungen zu entwickeln.
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-md-offset-1 how_sub_picture">
            <img class="how_sub_picture_img" src="../static/pictures/health-care.png" alt="" />
          </div>
          <div class="col-md-8 how_sub_content">
          </br> <b>Empathie für den Nutzer</b> </br>Ein tiefes Verständnis für die Bedürfnisse der Zielgruppe ist die wichtigste Voraussetzung um Innovationen zu schaffen, die von der Gesellschaft auch wirklich benötigt werden.
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-md-offset-1 how_sub_picture">
            <img class="how_sub_picture_img" src="../static/pictures/share.png" alt="" />
          </div>
          <div class="col-md-8 how_sub_content">
          </br> <b>Fehlerkultur</b> </br>Die entwickelten Lösungen werden im Design Thinking frühzeitig durch einen Prototypen erlebbar gemacht und mit der Zielgruppe getestet. Fehler werden bewusst zugelassen, um daraus zu lernen.
          </div>
        </div>
<!-- Anfang Plus Container -->
      </div>
      <div class="col-md-2 plus_container">

      </div>
<!-- Anfang Kollaboration Container -->
      <div class="col-md-5 sub_how_container">
        <div class="row">
        <div class="col-md-8 how_sub_content">
        </br>  <b>Kollaboration</b> </br>Um Lösungen für die hochkomplexen Herausforderungen unserer Zeit zu schaffen, ist die Zusammenarbeit von Menschen mit unterschiedlichen Blickwinkeln und fachlichen Expertisen unerlässlich.
        </div>
        <div class="col-md-3 how_sub_picture">
          <img class="how_sub_picture_img" src="../static/pictures/brainstorming-icon.png" alt="" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 how_sub_content">
        </br> <b>Konstruktive Teamzusammenarbeit</b> </br>Design Thinking schafft die Struktur, in der die multidisziplinären Teammitglieder konstruktiv und offen zusammenarbeiten. Eine lebhafte Feedbackkultur erleichtern die intensive Zusammenarbeit.
        </div>
        <div class="col-md-3 how_sub_picture">
          <img class="how_sub_picture_img" src="../static/pictures/success.png" alt="" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 how_sub_content">
        </br><b>Raum</b> </br>Teams die nach ständiger Anpassung Ihrer Ideen streben brauchen Arbeitsraum, der ebenso flexibel ist.
        </div>
        <div class="col-md-3 how_sub_picture">
          <img class="how_sub_picture_img" src="../static/pictures/table-light.png" alt="" />
        </div>
      </div>
    </div>
<!-- Start Innovation Container -->
    <div class="row">
      <div class="col-md-6 col-md-offset-3 innovation_container">
        <div class="col-md-12 link_content">
          <h2>Das Ergebnis</h3>
          <div class="h_line"></div>
          Wir verstehen Innovation als Mindset. Ergebnis sind nicht nur innovative Produkt- Dienstleistungs- und Prozesslösungen, sondern eine völlig neue Arbeitskultur.</br>
          <a href="#what_container" class="smoothScroll">
            Interessiert? Mehr Erfahren </br>
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Anfang Was genau machen wir -->
<div class="row">
  <div class="col-md-12 what_container" id="what_container">
<!-- Anfang Beispielhafte Formate -->
    <div class="row">
      <div class="col-md-12 example_head">
        <h2>Unsere Formate</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 example_formats_content">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 formats_content">
            <h3>Erleben</h3>
            <div class="h_line"></div>
            Die  multidisziplinären Teams aus Studenten und Professionals durchlaufen gemeinsam den gesamten Design Thinking- Prozess und entwickeln nutzerzentrierte und innovative Lösungen. </br>Wir bringen die Teams zusammen und begleiten sie mit einem strukturierten Design Thinking-Prozess dabei, ihr kreatives Potential zu entdecken.
        </div>
        </div>
      </div>
        <div class="col-md-4 example_formats_content">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 formats_content">
              <h3>Anwenden</h3>
              <div class="h_line"></div>
              In gemeinsamer Projektarbeit entwickeln die multidisziplinären Teams nutzerzentrierte und innovative Lösungen für reale Fragestellungen aus Unternehmen und Institutionen. Der Prozess zielt auf die Entwicklung von umsetzbaren Lösungen. </br> Die Teilnehmer werden von erfahrenden Design Thinkern begleitet und lernen während des Prozesses eigenständig verschiedene Methoden anzuwenden und den Prozess zu gestalten.
            </div>
          </div>
        </div>
        <div class="col-md-4 example_formats_content">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 formats_content">
              <h3>Multiplizieren</h3>
              <div class="h_line"></div>
              Erfahrene Design Thinker erlernen im dritten Schritt, wie sie Design Thinking in ihre Organisation tragen können.
  Anhand eines Beispielprojektes werden die einzelnen Coachingphasen des Design Thinking durchgespielt und analysiert. </br>Während der Ausbildung lernen die Teilnehmer verschiedene Methoden des Design Thinking Prozesses, wenden sie gemeinsam an und bewerten sie. Das Coaching in Design Thinking Workshops wird im Team unmittelbar geübt und reflektiert.     </div>
          </div>
        </div>
    </div>
    <!-- Start Erklärung Nutzeranpassung -->
        <div class="row">
          <div class="col-md-6 col-md-offset-3 innovation_container">
            <div class="col-md-12 link_content">
            </br></br>
              Die genannten Formate sind Beispiele. Wir erarbeiten mit jeder Organisation das individuell passende Format.
              <a href="#kontakt" class="smoothScroll">
                Treten Sie mit uns in Kontakt</br>
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
              </a>
            </div>
          </div>
        </div>
<!-- Anfang Benefits Subgruppen -->
    <div class="row">
      <div class="col-md-12 benefits_head" id="benefits">
        <h2>Ihre Vorteile</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3>Vorteile für Unternehmen</h3>
        <div class="row">
          <div class="col-md-10 col-md-offset-1 benefits_content">
            <div class="h_line"></div>
            <ul>
              <li>Lassen Sie Ihre Mitarbeiter in Zusammenarbeit mit jungen Menschen Design Thinking, die Arbeitsweise der Zukunft, erlernen</li></br>
              <li>Bringen Sie innovativen Flow in Ihre Arbeitswelt</li></br>
              <li>Erarbeiten Sie nutzerorientierte Lösungen für Probleme und Projekte in einer Geschwindigkeit, die Sie sich für jedes Projekt wünschen würden</li></br>
              <li>Treten Sie in einen intensiven Austausch mit jungen Menschen und verstehen Sie deren Sichtweise und Lösungsvorschläge</li></br>
              <li>Arbeiten Sie mit Hochschulen und Studenten zusammen, die interdisziplinäre Energie in das Projekt bringen und alte, ineffiziente Muster aufbrechen</li></br>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Vorteile für Hochschulen</h3>
        <div class="row">
          <div class="col-md-10 col-md-offset-1 benefits_content">
            <div class="h_line"></div>
            <ul>
              <li>Integrieren Sie Design Thinking als Lehrangebot an Ihrer Hochschule</li></br>
              <li>Positionieren Sie Ihre Hochschule als zukunftsweisende Bildungsstätte</li></br>
              <li>Ergänzen Sie Ihr bestehendes Angebot an Gründungsförderungen um einen Kernaspekt</li></br>
              <li>Lassen Sie Partnerschaften mit Unternehmen wachsen und erzeugen Sie Synergien</li></br>
              <li>Bilden Sie eigene Mitarbeiter und Studenten dazu aus, auch an der eigenen Hochschule selbstständig für Veränderungen zu sorgen</li></br>
              <li>Die Anforderungen an Fachkräfte auf dem Arbeitsmarkt ändern sich rasant. Bereiten Sie Ihre Studenten auf die neue Arbeitswelt vor</li></br>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Vorteile für Studenten</h3>
        <div class="row">
          <div class="col-md-10 col-md-offset-1 benefits_content">
            <div class="h_line"></div>
            <ul>
              <li>Entdecke Dein kreatives Potential und werde zum modernen Erfinder</li></br>
              <li>Erlerne und meistere die Arbeitsweise der Zukunft, Design Thinking</li></br>
              <li>Trete in direkten Kontakt mit innovationsorientierten Unternehmen, die auf der Suche nach Talenten wie Dir sind</li></br>
              <li>Bring Deine speziellen Fähigkeiten in ein interdisziplinäres Team ein und bewirke Großes</li></br>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Anfang Wer sind wir -->
<div class="whois_container">
  <!-- Anfang wer ist protostart -->
  <div class="row whois_container">
    <div class="col-md-8 col-md-offset-2" >
        <div class="col-md-10 col-md-offset-1 link_content">
          <div class="down_logo">
            <a  href="/"><img class="bottom_logo_img" src="../static/pictures/protostart_logo_website-min.png" alt="" /> </a>
          </div>
          <div class="h_line">&nbsp</div>
          Protostart, das sind wir: Anna Abelein und Yannis Beuke.
          Als  Gründer von Protostart verkörpern wir die Synthese der beiden Welten, die wir verbinden. Wir repräsentieren die Multidisziplinarität und Diversität, die Design Thinking so besonders machen.
          </a> </br></br>
        </div>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12 personal_info_head">
        <h2>Wer sind wir?</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1 personal_info anna">
        <div class="row">
          <div class="col-md-2 anna_picture_container">
            <img class="bottom_logo_img" class="anna_picture" src="../static/pictures/anna-picture.png" alt="" />
          </div>
          <div class="col-md-8  anna_content">
            Anna Abelein ist Diplom-Politologin, Master of Science in Public Policy und hat einen Bachelor in Wirtschaftswissenschaften. Nach ihrem Studium baute sie das Verbindungsbüro einer politischen Stiftung in Lateinamerika auf und arbeitete  im Qualitätsmanagement einer Hochschule und im Bildungsmanagement einer großen Finanzgruppe. Durch diese Erfahrungen bringt sie viel Empathie für die Bedürfnisse, Strukturen und Hierarchien der etablierten Arbeitswelt in die Arbeit von Protostart mit ein.
            An der School of Design Thinking  des Hasso-Plattner-Instituts lernte sie Design Thinking als eine Wunderwaffe kennen, mit der Menschen über fachliche Hintergründe, Sparten und Kulturen hinweg in einen intensiven Austausch gebracht werden.
          </div>
        </div>
      </div>
      <div class="col-md-5 personal_info yannis">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 yannis_content">
            Yannis Beuke bringt die Sichtweise eines Digital Native in die Arbeit von Protostart ein.  Er schafft sich selbst Strukturen, gestaltet effiziente Lösungsmöglichkeiten und hinterfragt bestehende Muster nach Ihrem Sinn.
Nach seinem Psychologiestudium  an der Universität Mannheim taucht er als Autodidakt in die Welt der Digitalisierung ein.
Er erlernte Design Thinking während seines Studium an der School of Design Thinking des Hasso-Plattner-Instituts und in der jungen Design Thinking-Abteilung eines großen Schweizer Konzern.
Heute nutzt er Design Thinking, um innovative Lösungen entwickeln und anderen Menschen dabei zu helfen, ihr kreatives Potential zu entdecken.

          </div>
          <div class="col-md-2 yannis_picture_container">
            <img class="navbar_logo_img" class="yannis_picture" src="../static/pictures/yannis-beuke-min.png" alt="" />
          </div>
        </div>
      </div>
    </div>

</div>
<!-- Anfang Infos zu uns, Kontakte und Weiteres -->
<div class="row">
  <div class="col-md-12 contact_container" id="kontakt">
<!-- Anfang Kontakt -->
    <div class="row">
<!--Container für alte Technologien Kontakte (Email und Telefon)-->
      <div class="col-md-4 col-md-offset-3 contact_info">
        <div class="row phone_container">
          <div class="col-md-2 col-md-offset-2">
            <span class="glyphicon glyphicon-earphone glyphicon_contact" aria-hidden="true"></span>
          </div>
          <div class="col-md-8 phone_numbers">
            Anna Abelein: +49 176 2470 1247 </br>
            Yannis Beuke: +49 176 5796 5889
          </div>
        </div>
        <div class="row mail_container">
          <div class="col-md-2 col-md-offset-2">
            <span class="glyphicon glyphicon-envelope glyphicon_contact" aria-hidden="true"></span>
          </div>
          <div class="col-md-8 mail_address">
            <script language="JavaScript">
              var username = "info";
              var hostname = "protostart.de";
              var linktext = username + "@" + hostname ;
              document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "</a>");
            </script>
          </div>
        </div>
      </div>
<!--Container für neue Technologien Facebook etc -->
      <div class="col-md-4 contact_info">
      </br>
        <a href="https://de.linkedin.com/in/anna-abelein-215670116" style="text-decoration:none;"><span><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="Anna Abelein bei Linkedin" style="vertical-align:middle;" border="0">&nbsp;Anna Abelein bei Linkedin</span></a> </br>
        <a href="https://de.linkedin.com/pub/yannis-beuke/116/1a7/744" style="text-decoration:none;"><span><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="Yannis Beuke bei Linkedin" style="vertical-align:middle;" border="0">&nbsp;Yannis Beuke bei Linkedin</span></a>
      </div>
    </div>
<!-- Anfang Kontakformular -->
    <!--<div class="row">
      <div class="col-md-8 col-md-offset-2 contact_form">
        <!-- Change the width and height values to suit you best -
        <div class="typeform-widget" data-url="https://yannis216.typeform.com/to/PwPLP9" data-text="Contact Form" style="width:100%;height:40vh; min-height:fit-content;"></div>
        <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
        <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"><a href="https://www.typeform.com/examples/forms/contact-form-template/?utm_campaign=PwPLP9&amp;utm_source=typeform.com-4153499-Basic&amp;utm_medium=typeform&amp;utm_content=typeform-embedded-contactform&amp;utm_term=EN" style="color: #999" target="_blank">Contact form</a>powered by Typeform</div>
      </div>
    </div> -->
    </div>

</div>
{% endblock %}
