body {
  height: 100%;
  overflow-x: hidden;
}


a{
  color: grey;
}

a:hover{
  color:black;
}

a:visited{
  color:grey;
}
a:active{
 color:grey;
}

h3{
  margin-top:0px;
  text-align: center;
}

.navbar {
    position: relative;
    margin-bottom: 0px;
    height:5vh;
}
.brand {
    position: absolute;
    left: 50%;
    margin-top: 0px;
    margin-left: -100px !important;  /* 50% of your logo width */
    display: block;
    padding: 0px;
    padding-top: 5px;
}

.text_logo{
  position:absolute;
  width: 200px;
}

.impressum_link{
  margin-top: 16px;
  position: absolute;
  right: 8%;
}


.start_now_button{
  position:absolute;
  right: 1%;
  margin-top: 7px;
  border: solid red 2px;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.start_now_button:hover{
  background-color: red;
}

.start_now_button:active{
  border: solid 0px;
}


.jumbo{
  background-color: black;
    background: url("../pictures/protostar.jpg");
    height: 65vh;
    display:flex;
    align-items: center;
}

.centered_vision{
  height: 50%;
  display:flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(220,160,140,0);
  color: white;
}

a.vision_link:hover{
  color:white;
}
.h_line{
  width:100%;
  height:1px;
  background: red;
  margin-bottom: 2.5%;
}

.h_line_short{
  width:60%;
  height:1px;
  background: red;
  margin-bottom: 2.5%;
  margin: auto;
}

.vision_text{
  font-size: 1.3em;
}

.front_usergroup_link{
  height: 30vh;
  background-color: #f8f8f8;
  display:flex;
  align-items: center;
  border-bottom: solid 1px grey;
}

.link_content{
  height: 50%;
  display:flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(220,160,140,0);
  color: black;
}


.how_container{
  height: 100vh;
  background-color: #f8f8f8;
  border-bottom: solid 1px grey;
}

  .how_question{
    height: 10vh;
    text-align: center;
  }
  .plus_container{
    height: 50vh;
    text-align: center;
  }

  .sub_how_container{
    height: 50vh;
  }
  .how_sub_head{
    height:5vh;
    text-align: center;
  }
    .how_sub_picture{
      height: 15vh;

    }

    .how_sub_content{
      height: 15vh;
      
    }

  .innovation_container{
    margin-top: 10vh;

  }

.end_of_how{
}
.what_container{

  border-bottom: solid 1px grey;
  background-color: #f8f8f8;
}
.example_head{
  margin-top: 1vh;
  text-align:center;
  height: 5vh;
}
.example_formats_content{
  margin-top: 3vh;
  height:30vh;
  text-align: justify;
}

.benefits_head{
  text-align: center;
  height: 5vh;
  margin-bottom: 3vh;
}

.benefits_content{
  text-align: justify;
  margin-bottom: 5vh;
}


.last_container{
  height: 100vh;
  border-bottom: solid 1px grey;
  background-color: #f8f8f8;
}

.contact_head{
  text-align: center;
  height: 5vh;
}

.contact_info{
  height: 20vh;
  margin-top: 5vh;
}

.glyphicon_contact{
  font-size: 2.5em;
}

.phone_container{
  margin-top: 2vh;
  text-align: right;
}

.phone_numbers{
  text-align: left;
}

.mail_container{
  margin-top: 2vh;
  text-align: right;
}

.mail_address{
  text-align: left;
}

.personal_info_head{
  text-align: center;
}

.anna_picture{
  height: 15vh;
  background-image: url("../pictures/protostart_text_logo.png");
}

.yannis_picture{
  height: 15vh;
  background-image: url("../pictures/protostart_text_logo.png");
}

.yannis_content{
  text-align: right;
}


.impressum_container{

}
