body {
  height: 100%;
  overflow-x: hidden;
}

a{
  color: grey;
}

a:hover{
  color:black;
}

a:visited{
  color:grey;
}
a:active{
 color:grey;
}

h3{
  margin-top:0px;
  text-align: center;
}

.navbar {
    margin-bottom: 0px;
    height:20vh;
    border:none;
    background-color: #f8f8f8;
}

.navbar_logo{
  background-image: url("../pictures/protostart_logo_website.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 20vh;
}

.impressum_link{
  margin-top: 16px;
  text-align: right;
}

.start_now_button{
  margin-top: 7px;
  border: solid #ED1A5D 2px;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.start_now_button:hover{
  background-color: #70BE44;
}

.start_now_button:active{
  border: solid 0px;
}

.jumbo{
    background-image: url("../pictures/postitwand.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #AAA;
    height: 55vh;
    display:flex;
    align-items: center;
    min-height: fit-content;
}

.centered_vision{
  display:flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(248,248,248,0.8);
  min-height: fit-content;
  border-radius: 20px;

}

.vision_text{
  font-size: 1.3em;
}
a.vision_link:hover{
  color:white;
}

.front_usergroup_link{
  height: 25vh;
  background-color: #f8f8f8;
  align-items: center;
  border-bottom: solid 1px grey;
  min-height: fit-content;
}

.link_content{
  height: 50%;
  display:flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(220,160,140,0);
  color: black;
  min-height: fit-content;
  max-height: 25vh;

}

.h_line{
  width:100%;
  height:2px;
  background: #70BE44;
  margin-bottom: 2.5%;
  padding: 0px;
}

.h_line_short{
  width:60%;
  height:1px;
  background: #70BE44;
  margin-bottom: 2.5%;
  margin: auto;
}

.how_container{
  background-color: #f8f8f8;
  border-bottom: solid 1px grey;
  min-height: fit-content;
}

  .how_question{
    height: 10vh;
    text-align: center;
    min-height: fit-content;
  }
  .plus_container{
    text-align: center;
  }

  .sub_how_container{
    height: 50vh;
    min-height: fit-content;
  }
  .how_sub_head{
    height:5vh;
    text-align: center;
    min-height: fit-content;
  }
    .how_sub_picture{
      height: 15vh;
      min-height: fit-content;
    }
    .how_sub_content{
      height: 15vh;
      text-align: justify;
      min-height: fit-content;
    }

  .innovation_container{
    margin-top: 10vh;
    min-height: fit-content;

  }

.end_of_how{
}
.what_container{
  border-bottom: solid 1px grey;
  background-color: #f8f8f8;
  min-height: fit-content;
}
.example_head{
  margin-top: 1vh;
  text-align:center;
  height: 5vh;
  min-height: fit-content;
}
.example_formats_content{
  margin-top: 3vh;
  height:30vh;
  text-align: justify;
  min-height: fit-content;
}

.benefits_head{
  text-align: center;
  height: 5vh;
  margin-bottom: 3vh;
  min-height: fit-content;
}

.benefits_content{
  text-align: justify;
  margin-bottom: 5vh;
  min-height: fit-content;
}


.last_container{
  height: 100vh;
  border-bottom: solid 1px grey;
  background-color: #f8f8f8;
  min-height: fit-content;
}

.contact_head{
  text-align: center;
  height: 5vh;
  min-height: fit-content;
}

.contact_info{
  height: 20vh;
  margin-top: 5vh;
  min-height: fit-content;
}

.glyphicon_contact{
  font-size: 2.5em;
}

.phone_container{
  margin-top: 2vh;
  text-align: right;
  min-height: fit-content;
}

.phone_numbers{
  text-align: left;
  min-height: fit-content;
}

.mail_container{
  margin-top: 2vh;
  text-align: right;
  min-height: fit-content;
}

.mail_address{
  text-align: left;
  min-height: fit-content;
}

.personal_info_head{
  text-align: center;
}

.anna_picture{
  height: 15vh;
  background-image: url("../pictures/protostart_text_logo.png");
}

.yannis_picture{
  height: 15vh;
  background-image: url("../pictures/protostart_text_logo.png");
}

.yannis_content{
  text-align: right;
}


.impressum_container{

}
